<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title id="title">{%block title %}{{SITE_TITLE}}{% endblock %}</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
    {% if links.prev %}
    <link rel="prev" href="{{links.prev}}">
    {% endif %}
    {% if links.next %}
    <link rel="next" href="{{links.next}}">
    {% endif %}
  </head>
  <body>
    <header>
      <h1>{% block header %}{{SITE_TITLE}}{% endblock %}</h1>
        <nav>
            {% for link in MENU %}
                <a href="{{link}}">{{loop.key}}</a>
            {% endfor %}
        </nav>
    </header>

    <section>
      {% block content %}{% endblock %}
    </section>

    <footer>
        {%block footer %}
            <p class="copyright">
                <small>Powered by Captain.js</small>
            </p>
        {%endblock%}
    </footer>
  </body>
</html>